<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Cr</title>
</head>
<body>
    <div class="container">
    <h1>Usuarios</h1>
    
    <table class="table table-hover mx-auto">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>E-mail</th>
                <th>Crated at</th>
                <th>Acciones</th>
            </tr>
            <tbody>
                {% for usuario in user %}
                    <tr>
                        <td>{{usuario.first_name}}</td>
                        <td>{{usuario.last_name}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.created_at}}</td>
                        <td>
                            <a href="/show/{{usuario.id}}" class="btn btn-primary">Mostrar</a>
                            <a href="/edit/{{usuario.id}}" class="btn btn-primary">Editar</a>
                            <a href="/delete/{{usuario.id}}" class="btn btn-primary">Borrar</a>
                            
                        </td>
                        
                        
                    </tr>
                {% endfor%}

            </tbody>
        </thead>

        

    </table>
    <a href="/new" class="btn btn-primary">Agregar Usuarios</a>

    </div>
</body>
</html>